# Ignore the virtual environment
venv/

# Ignore Node.js dependencies
frontend/node_modules/

# Ignore Python bytecode files
mongodb/__pycache__/
mongodb/result/

# Optional: Ignore common system or editor files (helpful for collaborative projects)
.DS_Store
Thumbs.db
*.log

# Ignore any temporary or IDE-specific files
*.swp
.idea/
.vscode/
.env
mongodb/transformed_data.json

.history/

Q_Understanding_Agent/.env
Q_Understanding_Agent/AI_course_suggestions.txt

mongodb/test.py

/1786project

frontend/package.json
frontend/package-lock.json


/RAG/__pycache__/
/__pycache__/
/backend/uploaded_resumes/

