/* Header.css */

/* Dynamic background for the header */
.header-banner {
    position: relative;
    height: 100vh; /* Full viewport height */
    color: white;
    text-align: center;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .container-width {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .logo-container {
    margin-bottom: 20px;
  }
  
  .logo {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .lead-title {
    font-size: 3rem;
    /* margin-top: 20px; */
  }
  
  .sub-lead-title {
    font-size: 1.5rem;
    margin-top: 20px;
  }
  
  .lead-btn {
    margin-top: 40px;
    padding: 15px 30px;
    font-size: 1.5rem;
    background-color: #ffffff;
    color: #333333;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .lead-btn:hover {
    background-color: #f1f1f1;
  }
  